backend-Development_Excercise/DevelopmentExcercise.Api/bin/
backend-Development_Excercise/DevelopmentExcercise.Api/obj/
backend-Development_Excercise/DevelopmentExcercise.Common/bin/
backend-Development_Excercise/DevelopmentExcercise.Common/obj/