backend-Development_Excercise/DevelopmentExcercise.Api/bin/
backend-Development_Excercise/DevelopmentExcercise.Api/obj/
backend-Development_Excercise/DevelopmentExcercise.Common/bin/
backend-Development_Excercise/DevelopmentExcercise.Common/obj/
backend-Development_Excercise/DevelopmentExcercise.ApplicationContext/bin/
backend-Development_Excercise/DevelopmentExcercise.ApplicationContext/obj/
backend-Development_Excercise/DevelopmentExcercise.Models/bin/
backend-Development_Excercise/DevelopmentExcercise.Models/obj/
backend-Development_Excercise/DevelopmentExcercise.Services/bin/
backend-Development_Excercise/DevelopmentExcercise.Services/obj/

