<div class="container">

    <form [formGroup]="productForm" (ngSubmit)="addProduct()">

    <div>
        <mat-form-field>
            <input matInput formControlName="productName" placeholder="Name">
        </mat-form-field>
        <mat-error *ngIf="productForm.get('productName').hasError('required')">
            Price is required!
        </mat-error>
    </div>

    <div class="mt-3">
        <mat-form-field>
            <input matInput formControlName="productPrice" placeholder="Price">
        </mat-form-field>
        <mat-error *ngIf="productForm.get('productPrice').hasError('required')">
            Price is required!
        </mat-error>
    </div>

    <div>
        <mat-form-field>
            <input matInput formControlName="productCompany" placeholder="Company">
        </mat-form-field>
        <mat-error *ngIf="productForm.get('productCompany').hasError('required')">
            Company is required!
        </mat-error>
    </div>

    <div>
        <mat-form-field>
            <input matInput formControlName="productAge" type="number" placeholder="Age">
        </mat-form-field>
    </div>

    <div>
          <mat-form-field style="text-align: left;" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="productDescription" placeholder="Description" rows="5" style="resize: none;"></textarea>
              </mat-form-field>
    </div>

    <div class="row">
        <h1 class="col-6"></h1>
        <button type="button" class="btn btn-info ml-2" (click)="closeProductModal()">Cancelar</button>
        <button type="submit" class="btn btn-info ml-2">Save</button>
    </div>
    </form>
  </div>



                                        
<!--


              <textarea matInput formControlName="productDescription" placeholder="Description" rows="5" style="resize: none;"></textarea> -->