<div class="container ml-5">

  <div class="card-header">
    Products
  </div>
  
  <div class="container">
    <div class="row">
      <mat-form-field class="pl-5 col-6" style="width: 100%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <h1 class="col-3"></h1>
      <button type="button" style="height: 50px;" class="btn btn-info ml-5 mt-2" (click)="addProduct()">
        Add Product
      </button>
    </div>
  </div>
  
  <div class="card-body">
    <mat-table [dataSource]="dataSource" style="width: 90%">
      
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="NAME">
        <mat-header-cell *matHeaderCellDef>NAME</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="AGE">
        <mat-header-cell *matHeaderCellDef>AGE</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ageRestriction}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="PRICE">
        <mat-header-cell *matHeaderCellDef>PRICE</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="COMPANY">
        <mat-header-cell *matHeaderCellDef>COMPANY</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="ACTIONS">
        <mat-header-cell *matHeaderCellDef>ACTIONS</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Acciones">
          <button type="button" (click)="editProduct(row.id)"  class="btn btn-primary mr-1 float-none">
            <i class="cui-trash"></i>
            <mat-icon>edit</mat-icon>
          </button>
          <button type="button" (click)="deleteProduct(row.id)" class="btn btn-primary mr-1 float-none">
            <mat-icon>delete</mat-icon>
          </button>
          </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  


</div>